POSTGRES_USER=postgree
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=finDB

API_HOST=0.0.0.0
API_PORT=8000

AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__PARALLELISM=4
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG=1

FEATURE_ANOMALIES=true
FEATURE_FORECASTS=true
FEATURE_SENTIMENT=true
FEATURE_PORTFOLIO=true

MLFLOW_TRACKING_URI=http://mlflow:5000

LOG_LEVEL=INFO