version: '3,9'

services:

  db:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    environment:
      POSTGRES_USER: postgree
      POSTGRES_PASSWORD: 2007
      POSTFRES_DB: finDB
    volumes:
      - db_data: var/lib/postgresql/data
    ports:
      - "5432:5432"
  
  fastapi:
    build: .
    container_name: fastapi
    env_file:
      - .env
    depends_on:
      - postgres
    expose:
      - "8000"

  dash:
  build: .
  container_name: dash
  command: python src/dashboard/app.py
  env_file:
   -  .env
  depends_on:
    - fastapi
  expose:
   - '8050'
  
  airflow:
    image: apache/airflow:2.8.1
    container_name: airflow
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    depends_on:
      - db
    ports:
      - "8080:8080"

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: mlflow
    ports:
      - "5000:5000"
    command: mlflow server --host 0.0.0.0
  
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - '8080'
    depends_on:
      - fastapi
      - dash


volumes:
  db_data: